<!-- [Page Navigation] -->
<h4><a href="Event-Categories.html">Events</a></h4>
<div class="sidebar sidebar-static">
    <ul class="nav nav-pills nav-stacked">
        <li class="open">
            <a href="Event-Overview.html">Climbing</a>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="Event-Detail.html">Climbing Event A</a></li>
                <li><a href="Event-Detail.html">Climbing Event B</a></li>
            </ul>
        </li>
        <li><a href="Event-Overview.html">Cycling</a></li>
        <li><a href="Event-Overview.html">Hiking</a></li>
        <li><a href="Event-Overview.html">Skiing</a></li>
    </ul>
</div>
<!-- [/Page Navigation] -->
<!-- [Related Events] -->
<div class="bg-primary side-widget">
    <h4 class="text-uppercase">Other events you will like</h4>
    <div class="sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="#">Hiking in Spain</a>
            </li>
            <li>
                <a href="#">Cycling tour of South Africa</a>
            </li>
            <li>
                <a href="#">Magic Alaska</a>
            </li>
        </ul>
    </div>
</div>
<!-- [/Related Events] -->
<!-- [Subscribe to mailing list] -->
<div class="side-widget">
    <h4 class="text-uppercase">Our next events</h4>
    <div class="sidebar">
        <div class="text">Subscribe to our monthly newsletter and be the first to learn about our forthcoming events.</div>
        <form action="#">
            <div>
                <input class="form-control" type="email" placeholder="your@email.com" name="email">
            </div>
            <input class="btn btn-default" type="submit" value="Subscribe">
        </form>
    </div>
</div>
<!-- [/Subscribe to mailing list] -->
