<!-- [Page Navigation] -->
<h4><a href="Event-Categories.html">Events</a></h4>
<div class="sidebar sidebar-static">
    <ul class="nav nav-pills nav-stacked">
        <li class="open">
            <a href="Event-Overview.html">Climbing</a>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="Event-Detail.html">Climbing Event A</a></li>
                <li><a href="Event-Detail.html">Climbing Event B</a></li>
            </ul>
        </li>
        <li><a href="Event-Overview.html">Cycling</a></li>
        <li><a href="Event-Overview.html">Hiking</a></li>
        <li><a href="Event-Overview.html">Skiing</a></li>
    </ul>
</div>
<!-- [/Page Navigation] -->


