<!-- [Page Content] -->
<main>
    <header class="page-header">
        <div class="container">
            @Html.Sitecore().Placeholder("pageHeader")
        </div>
    </header>
    <section class="page-header">
        <div class="container">
            <!-- [Two Columns] -->
            <div class="row">
                <div class="col-lg-4">
                    @Html.Sitecore().Placeholder("pageSide")
                </div>
                <div class="col-lg-8">
                    @Html.Sitecore().Placeholder("pageContent")


                </div>
            </div>
            <!-- [/Two Columns] -->
        </div>
    </section>
</main>
<!-- [/Page Content] -->