@model IEnumerable<events.tac.local.Models.NavigationItem>
@using Sitecore.Mvc.Extensions


<!-- [Related Events] -->
@using (Html.EditFrame(RenderingContext.Current.ContextItem.Paths.FullPath, "Related Events", null, null, null, null))
{
    <div class="bg-primary side-widget">
        <h4 class="text-uppercase">Other events you will like</h4>
        <div class="sidebar">
            <ul class="nav nav-pills nav-stacked">
                @foreach (var item in Model)
                {
                    <li>
                        <a href="@item.URL">@item.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
<!-- [/Related Events] -->